.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 20px;
  border: 1px solid lightblue;
  box-shadow: 0 3px 6px lightblue;
  margin-top: 30px;
}

.form-label {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
.form-group:not(:last-child) {
  margin-bottom: 20px;
}
.form-control {
  width: 100%;
  display: block;
  border: 1px solid lightblue;
  height: 45px;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 16px;
  outline: none;
}
.form-control.ng-invalid:not(.ng-pristine){
  border-color: red;
}
.btn{
    display: inline-block;
    background-color: #137b95;
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.btn--red{
    background-color: #b42929;
    margin-left: 3px;
}

.invalid-feedback{
  color: #b42929;
}

.alert-success{
  background-color: rgb(156 215 156 / 60%);
  color: green;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
}